/* شريط التمرير */
.table-responsive::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    background: #9c57ff;
    border-radius: 10px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #8f3bff;
  }
  
  /* تثبيت الهيدر عند التمرير */
  thead tr {
    position: sticky;
    top: 0;
    z-index: 10;
  }