<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav
    class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
  >
    <div
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start"
    >
      <a class="navbar-brand brand-logo" href="index.html"
        ><img src="logo2.png" alt="logo"
      /></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"
        ><img src="logo2.png" alt="logo"
      /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        data-toggle="minimize"
      >
        <span class="mdi mdi-menu"></span>
      </button>
      <div class="search-field d-none d-md-block">
        <form class="d-flex align-items-center h-100" action="#">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-magnify"></i>
            </div>
            <input
              type="text"
              class="form-control bg-transparent border-0"
              placeholder="Search projects"
            />
          </div>
        </form>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="profileDropdown"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="nav-profile-img">
              <img src="logo2.png" alt="image" />
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black">{{ getUserName() }}</p>
            </div>
          </a>
          <div
            class="dropdown-menu navbar-dropdown"
            aria-labelledby="profileDropdown"
          >
            <a class="dropdown-item" [routerLink]="['/profile']">
              <i class="mdi mdi-account-circle me-2 text-success"></i> Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">
              <i class="mdi mdi-logout me-2 text-primary"></i> Signout
            </a>
          </div>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link count-indicator dropdown-toggle"
            id="messageDropdown"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="mdi mdi-email-outline"></i>
            <span class="count-symbol bg-warning"></span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list"
            aria-labelledby="messageDropdown"
          >
            <h6 class="p-3 mb-0">Messages</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="logo2.png" alt="image" class="profile-pic" />
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">
                  Mark send you a message
                </h6>
                <p class="text-gray mb-0">1 Minutes ago</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="logo2.png" alt="image" class="profile-pic" />
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">
                  Cregh send you a message
                </h6>
                <p class="text-gray mb-0">15 Minutes ago</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="logo2.png" alt="image" class="profile-pic" />
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">
                  Profile picture updated
                </h6>
                <p class="text-gray mb-0">18 Minutes ago</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="p-3 mb-0 text-center">4 new messages</h6>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link count-indicator dropdown-toggle"
            id="notificationDropdown"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="mdi mdi-bell-outline"></i>
            <span class="count-symbol bg-danger"></span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown"
          >
            <h6 class="p-3 mb-0">Notifications</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="mdi mdi-calendar"></i>
                </div>
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject font-weight-normal mb-1">
                  Event today
                </h6>
                <p class="text-gray ellipsis mb-0">
                  Just a reminder that you have an event today
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="mdi mdi-cog"></i>
                </div>
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject font-weight-normal mb-1">
                  Settings
                </h6>
                <p class="text-gray ellipsis mb-0">Update dashboard</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="mdi mdi-link-variant"></i>
                </div>
              </div>
              <div
                class="preview-item-content d-flex align-items-start flex-column justify-content-center"
              >
                <h6 class="preview-subject font-weight-normal mb-1">
                  Launch Admin
                </h6>
                <p class="text-gray ellipsis mb-0">New admin wow!</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="p-3 mb-0 text-center">See all notifications</h6>
          </div>
        </li>
        <li class="nav-item nav-logout d-none d-lg-block">
          <a class="nav-link" href="#">
            <i class="mdi mdi-power"></i>
          </a>
        </li>
        <li class="nav-item nav-settings d-none d-lg-block">
          <a class="nav-link" href="#">
            <i class="mdi mdi-format-line-spacing"></i>
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        data-toggle="offcanvas"
      >
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper" id="mainSideBare">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="nav-profile-image">
              <img src="logo2.png" alt="profile" />
              <span class="login-status online"></span>
              <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="font-weight-bold mb-2">{{ getUserName() }}</span>
              <span class="text-secondary text-small">{{ getRolUser() }}</span>
            </div>
            <i
              class="mdi mdi-bookmark-check text-success nav-profile-badge"
            ></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>

        <!-- ( Admin ,merchant ,employee,delivery) -->
        <!--delivery -->
        <li
          class="nav-item"
          *ngIf="role?.includes('admin') || role?.includes('employee')"
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('delivery')"
            [attr.aria-expanded]="isDropdownOpen('delivery')"
          >
            <span class="menu-title">Delivery</span>

            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('delivery') }"
            ></i>
            <i class="mdi mdi-truck-delivery menu-icon"></i>
          </a>

          <div *ngIf="isDropdownOpen('delivery')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/deliveries']"
                  >All Delivery</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/delivery/add']"
                  >Add Delivery</a
                >
              </li>
            </ul>
          </div>
        </li>

        <!-- mercient -->
        <li
          class="nav-item"
          *ngIf="role?.includes('admin') || role?.includes('employee')"
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('merchant')"
            [attr.aria-expanded]="isDropdownOpen('merchant')"
          >
            <span class="menu-title">Merchant</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('merchant') }"
            ></i>
            <i class="mdi mdi-store menu-icon"></i>
          </a>

          <div *ngIf="isDropdownOpen('merchant')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/merchant']"
                  >All Merchant</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/merchant/0/edit']"
                  >Add Merchant</a
                >
              </li>
            </ul>
          </div>
        </li>

        <!-- employee -->
        <li
          class="nav-item"
          *ngIf="role?.includes('admin') || role?.includes('employee')"
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('employee')"
            [attr.aria-expanded]="isDropdownOpen('employee')"
          >
            <span class="menu-title">Employee</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('employee') }"
            ></i>
            <i class="mdi mdi-account-multiple menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('employee')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employees']"
                  >All Employee</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/employees/0/edit']"
                  >Add Employee</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- order -->
        <li
          class="nav-item"
          *ngIf="
            role?.includes('admin') ||
            role?.includes('employee') ||
            role?.includes('merchant') ||
            role?.includes('delivery')
          "
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('order')"
            [attr.aria-expanded]="isDropdownOpen('order')"
          >
            <span class="menu-title">Order</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('order') }"
            ></i>
            <i class="mdi mdi-store menu-icon"></i>
          </a>

          <div *ngIf="isDropdownOpen('order')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/order']">All Order</a>
              </li>
              <li
                class="nav-item"
                *ngIf="role === 'admin' || role === 'employee'"
              >
                <a class="nav-link" [routerLink]="['/ordersReports']"
                  >Orders Reports</a
                >
              </li>
              <li
                class="nav-item"
                *ngIf="
                  role === 'admin' || role === 'employee' || role === 'merchant'
                "
              >
                <a class="nav-link" [routerLink]="['/order/0/edit']"
                  >Add Order</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- city -->
        <li
          class="nav-item"
          *ngIf="role?.includes('admin') || role?.includes('employee')"
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('city')"
            [attr.aria-expanded]="isDropdownOpen('city')"
          >
            <span class="menu-title">City</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('city') }"
            ></i>
            <i class="mdi mdi-city menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('city')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/city']">All City</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/city/0']">Add City</a>
              </li>
            </ul>
          </div>
        </li>
        <!-- permition -->
        <li class="nav-item" *ngIf="role?.includes('admin')">
          <a
            class="nav-link"
            (click)="toggleDropdown('permission')"
            [attr.aria-expanded]="isDropdownOpen('permission')"
          >
            <span class="menu-title">permission</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('permission') }"
            ></i>
            <i class="mdi mdi-account-key menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('permission')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/permissions']"
                  >All permission</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/permissions/add']"
                  >Add permission</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- role permition -->
        <li class="nav-item" *ngIf="role?.includes('admin')">
          <a
            class="nav-link"
            (click)="toggleDropdown('rolepermission')"
            [attr.aria-expanded]="isDropdownOpen('rolepermission')"
          >
            <span class="menu-title">Role Permission</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('rolepermission') }"
            ></i>
            <i class="mdi mdi-security menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('rolepermission')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/role-permissions']"
                  >All Role Permission</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['/role-permissions/:roleId/:permissionId']"
                  >Add Role Permission</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- branch-->
        <li
          class="nav-item"
          *ngIf="role?.includes('admin') || role?.includes('employee')"
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('branch')"
            [attr.aria-expanded]="isDropdownOpen('branch')"
          >
            <span class="menu-title">Branch</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('branch') }"
            ></i>
            <i class="mdi mdi-map-marker-radius menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('branch')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/branch']">All Branch</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/branch/add']"
                  >Add Branch</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- Government -->
        <li
          class="nav-item"
          *ngIf="role?.includes('admin') || role?.includes('employee')"
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('government')"
            [attr.aria-expanded]="isDropdownOpen('government')"
          >
            <span class="menu-title">Government</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('government') }"
            ></i>
            <i class="mdi mdi-domain menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('government')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/governrate']"
                  >All Governrates</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/governrate/0/edit']"
                  >Add Governrate</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- setting-->
        <li
          class="nav-item"
          *ngIf="
            role?.includes('admin') ||
            role?.includes('employee') ||
            role?.includes('delivery')
          "
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('setting')"
            [attr.aria-expanded]="isDropdownOpen('setting')"
          >
            <span class="menu-title">General Setting</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('setting') }"
            ></i>
            <i class="mdi mdi-account-cog menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('setting')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/shippingSetting']"
                  >Shipping Setting</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  *ngIf="role === 'admin' || role === 'employee'"
                  [routerLink]="['/weightSetting']"
                  >Weight Setting</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- roles -->
        <li
          class="nav-item"
          *ngIf="role?.includes('admin') || role?.includes('employee')"
        >
          <a
            class="nav-link"
            (click)="toggleDropdown('role')"
            [attr.aria-expanded]="isDropdownOpen('role')"
          >
            <span class="menu-title">Role</span>
            <i
              class="menu-arrow"
              [ngClass]="{ 'rotate-arrow': isDropdownOpen('role') }"
            ></i>
            <i class="mdi mdi-shield-account menu-icon"></i>
          </a>
          <div *ngIf="isDropdownOpen('role')">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Role']">All Role</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Role/0/edit']">Add Role</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper py-4">
        <ng-content></ng-content>
      </div>
    </div>
    <!-- main-panel ends -->
    <!-- page-body-wrapper ends -->
  </div>
</div>
