<div class="row">
  <div class="content-wrapper container-fluid p-0">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card" style="max-height: 100vh !important">
        <div
          class="card-body p-5 py-3"
          style="
            height: 80vh !important;
            max-height: 100vh !important;
            overflow: auto;
          "
        >
          <div class="row d-flex justify-content-between mb-2">
            <h4
              class="card-title fs-3 col-sm-8"
              style="color: #9c57ff; font-weight: bold; letter-spacing: 1px"
            >
              Order Details
            </h4>
            <button
              class="btn btn-light col-sm-1 px-0 d-flex align-items-center justify-content-center mx-auto me-2"
              style="
                color: #9c57ff;
                letter-spacing: 0.8px;
                height: 42px;
                width: 42px;
                border-radius: 50%;
              "
              title="Back to merchant"
              [routerLink]="['/order']"
            >
              <i class="bi bi-skip-backward-circle fs-2"></i>
            </button>
          </div>
          <div class="row">
            <form
              class="forms-sample d-flex justify-content-between flex-wrap"
              [formGroup]="orderForm"
            >
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputSerialNumber">Serial Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputSerialNumber"
                  readonly
                  formControlName="serialNumber"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputMerchant">Merchant</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputMerchant"
                  readonly
                  formControlName="merchant"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputDelivery">Delivery</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputDelivery"
                  readonly
                  formControlName="delivery"
                />
              </div>
              <div class="form-group col-sm-3">
                <label for="exampleInputShippingType">Shipping Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputShippingType"
                  readonly
                  formControlName="shippingType"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputBranch">Branch</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputBranch"
                  readonly
                  formControlName="branch"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputGovernrate">Governrate</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputGovernrate"
                  readonly
                  formControlName="government"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputGovernrate">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputCity"
                  readonly
                  formControlName="city"
                />
              </div>
              <div class="form-group col-sm-3">
                <label for="exampleInputOrderType">Order Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputOrderType"
                  readonly
                  formControlName="orderType"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputClientName">Client Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputClientName"
                  readonly
                  formControlName="clientName"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputClientPhone1">Client Phone 1</label>
                <input
                  type="tel"
                  class="form-control"
                  id="exampleInputClientPhone1"
                  readonly
                  formControlName="clientPhone1"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputClientPhone2">Client Phone 2</label>
                <input
                  type="tel"
                  class="form-control"
                  id="exampleInputClientPhone2"
                  readonly
                  formControlName="clientPhone2"
                />
              </div>
              <div class="form-group col-sm-3">
                <label for="exampleInputClientEmail">Client Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputClientEmail"
                  readonly
                  formControlName="clientEmail"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputClientAdress">Client Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputClientAdress"
                  readonly
                  formControlName="clientAddress"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputDelvToVill">Delivery To Village</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputDelvToVill"
                  readonly
                  formControlName="deliverToVillage"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputOrderStatus">Order Status</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputOrderStatus"
                  readonly
                  formControlName="orderStatus"
                />
              </div>
              <div class="form-group col-sm-3">
                <label for="exampleInputPaymentType">Payment Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPaymentType"
                  readonly
                  formControlName="paymentType"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputDate">Create Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleInputDate"
                  readonly
                  formControlName="createdDate"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputOrderCost">Order Cost</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputOrderCost"
                  readonly
                  formControlName="orderCost"
                />
              </div>
              <div class="form-group col-sm-3 pe-2">
                <label for="exampleInputOrderWeight">Total Weight</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputOrderWeight"
                  readonly
                  formControlName="orderTotalWeight"
                />
              </div>
              <div class="form-group col-sm-3">
                <label for="exampleInputShippingCost">Shipping Cost</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputShippingCost"
                  readonly
                  formControlName="shippingCost"
                />
              </div>
              <div class="form-group col-sm-4 pe-2">
                <label for="exampleTextarea1">Merchant Notes</label>
                <textarea
                  class="form-control"
                  id="exampleTextarea1"
                  rows="2"
                  readonly
                  formControlName="merchantNotes"
                ></textarea>
              </div>
              <div class="form-group col-sm-4 pe-2">
                <label for="exampleTextarea2">Delivery Notes</label>
                <textarea
                  class="form-control"
                  id="exampleTextarea2"
                  rows="2"
                  readonly
                  formControlName="deliveryNotes"
                ></textarea>
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleTextarea3">Shipping Employee Notes</label>
                <textarea
                  class="form-control"
                  id="exampleTextarea3"
                  rows="2"
                  readonly
                  formControlName="employeeNotes"
                ></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
