.chat-container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  background: linear-gradient(to right, rgb(217, 139, 255), #9c57ff);
  border-radius: 10px;
}

button.btn-gradient-primary {
  background-color: #9c57ff;
  border-color: #9c57ff;
  color: white;
  letter-spacing: 0.8px;
}

button.btn-gradient-primary:hover {
  background-color: #8a4bbf;
  border-color: #8a4bbf;
}

.messages-list ul {
  max-height: 60vh;
  overflow-y: auto;
}

.messages-list li {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.messages-list li strong {
  color: #9c57ff;
}

.messages-list li em {
  color: #888;
}
