<div class="row">
  <div class="content-wrapper container-fluid p-0">
    <div class="col-12 grid-margin stretch-card">
      <div class="card" style="max-height: 100vh !important">
        <div
          class="card-body p-5 py-3"
          style="height: 80vh !important; max-height: 100vh !important"
        >
          <div class="row mt-2 d-flex justify-content-between mb-2">
            <h4
              class="card-title fs-3 col-sm-8"
              style="color: #9c57ff; font-weight: bold; letter-spacing: 1px"
            >
              {{ cityId == 0 ? "Add New City" : "Edit City" }}
            </h4>
            <button
              class="btn btn-light col-sm-1 px-0 d-flex align-items-center justify-content-center ms-auto me-2"
              style="
                color: #9c57ff;
                letter-spacing: 0.8px;
                height: 42px;
                width: 42px;
                border-radius: 50%;
              "
              title="Back to city"
              [routerLink]="['/city']"
            >
              <i class="bi bi-skip-backward-circle fs-2"></i>
            </button>
          </div>
          <div
            class="row col-sm-12 table-responsive table-bordered rounded mx-auto"
            style="max-height: 85%"
          >
            <form
              [formGroup]="cityForm"
              class="forms-sample"
              (submit)="cityHandler()"
            >
              <div class="form-group my-3">
                <label for="exampleInputName1">City Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Name"
                  formControlName="name"
                />
                @if(getCity.touched){ @if (getCity.hasError('required')) {
                <div id="emailHelp" class="form-text text-danger">
                  City Name is required
                </div>
                } @if (getCity.hasError('minlength')) {
                <div id="emailHelp" class="form-text text-danger">
                  City Name length must be greater than 3
                </div>
                } }
              </div>
              <div class="form-group my-3">
                <label for="exampleSelectGovernrate">Governrate Name</label>
                <select
                  class="form-select"
                  id="exampleSelectGovernrate"
                  formControlName="government_Id"
                >
                  <option value="">Select Governrate ..</option>
                  @for (gov of allGovernrates; track gov.id) {
                  <option value="{{ gov.id }}">{{ gov.name }}</option>
                  }
                </select>
                @if(getGovernrate.touched){ @if
                (getGovernrate.hasError('required')) {
                <div id="emailHelp" class="form-text text-danger">
                  Governrate Name is required
                </div>
                }}
              </div>
              <div class="form-group my-3">
                <label for="exampleInputStandard">Standard Shipping Cost</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputStandard"
                  placeholder="Standard Shipping"
                  min="0"
                  step="5"
                  formControlName="pickupShipping"
                />
                @if(getStandard.touched){ @if (getStandard.hasError('required'))
                {
                <div id="emailHelp" class="form-text text-danger">
                  Standard Shipping Cost is required
                </div>
                }}
              </div>
              @if (cityId != 0) {
              <div class="form-group my-3 row justify-content-sm-start mt-3">
                <label for="switchCheck" class="col-sm-2 me-3"
                  >ِAvailable</label
                >
                @if (getIsDeleted.value) {
                <div class="form-check form-switch col-sm-1">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="switchCheck"
                    style="transform: translate(20%, -95%); font-size: 20px"
                    formControlName="isDeleted"
                  />
                </div>
                } @else {
                <div class="form-check form-switch col-sm-1">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="switchCheck"
                    style="transform: translate(20%, -95%); font-size: 20px"
                    formControlName="isDeleted"
                    checked
                  />
                </div>
                }
              </div>
              }
              <div class="row mt-3 px-3">
                <button
                  type="submit"
                  class="btn btn-gradient-primary me-2 col-sm-3 px-0"
                  style="letter-spacing: 0.8px"
                >
                  {{ cityId == 0 ? "Add New City" : "Edit City" }}
                </button>
                <button
                  class="btn btn-light col-sm-3 px-0"
                  style="color: rgb(95, 95, 95); letter-spacing: 0.8px"
                  (click)="cancelHandeler()"
                >
                  {{ cityId == 0 ? "Reset" : "Cancel" }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
